.banner-section {
  @include flexColumnCenter();
  position: relative; //because compass image is absolute

  background-image: linear-gradient(
      rgba(255, 255, 255, 0) 10%,
      rgb(250, 248, 242) 90%
    ),
    url("../assets/backgrounds/bg-bottom.jpg"),
    url("../assets/bg-graphics/bitmap-pattern-left-optimized.png");

  background-repeat: no-repeat;
  background-position: top, bottom, -12.8rem 59%;
  background-size: 100% 28%, contain, 100% 40%;
  background-blend-mode: saturation, multiply, normal;
  background-color: $bgMiddleTrans;
}

//Holds quote text and author name
.quote {
  min-height: 14.25rem;
  @include flexColumnCenter();
  font-weight: $headBold;
  font-size: $fsQuote; //This will be used as basis for quote text and quote author, so they can scale in proportion
  color: $quoteTxtColor;
  margin-bottom: 6.125rem;
}

.quote__text {
  font-family: $ffHeading;
  font-size: 1em;
  line-height: $lhQuote;
  text-align: center;
  max-width: 75.75rem;
  margin-bottom: 0.8em; //margin is initially 48px, translates to 0.8em
}

.quote__author {
  font-size: 0.45em; // 1.7rem;
  font-family: $ffHeading; //definirano u base styles da p tagovi imaju NunitoSans po defaultu, ovdje overwritten
}

//Actual banner
.banner {
  width: 62.5%; //1200px;
}

//Destination container - how to reach Mljet segment

.destination {
  min-height: 23.75rem;
  width: 39.25rem; //628px
  padding: 0 2.5625rem; //41px
  margin-top: 8.02%; //9.625rem at 1920, scales accordingly on smaller screens by taking parent width %
  margin-bottom: 32.64%; //39.125rem at 1920,
  @include flexColumnCenter();
  justify-content: space-between;
}

.destination__title {
  @include mediumHeadingStyle();
  color: $reachHeading;
}

.hr {
  @include horizontalLine(11.125rem, 1px);
}

.destination__description {
  @include normalTextStyle();
}

.destination__link {
  display: inline-block;
  max-width: 15.1875rem;
  min-width: 8rem;
  width: 70%;
  height: 4.3125rem;
  border: 1px solid rgba(55, 52, 52, 0.5);
  border-radius: 2px;
  text-align: center;
  line-height: 4.3125rem; //centers text vertically if line-height is exactly as height
  color: $darkTxt;
  font-size: $fsNormalTxt;
  font-weight: $txtRegular;
  transition: background-color 300ms, letter-spacing 100ms;

  &:hover,
  &:focus {
    background-color: $darkestBgClr;
    color: $heroColor;
    border-color: $heroColor;
  }

  &:active {
    letter-spacing: 2px;
  }
}

.compass-img {
  width: 13.59vw;
  height: 13.59vw;
  max-width: 16.3125rem;
  max-height: 16.3125rem;
  position: absolute; //this element is child of .quote but is absolutely positioned on .banner-section until mobile view, then it gets position static and comes as last child of parent .quote (and the parent gets scaling margin)
  top: 43%;
  left: 70%;
  user-select: none;
  animation: spinCompass 4s linear infinite;
}

@keyframes spinCompass {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

//***************  MEDIA QUERIES ****************** //

//2340px
@media only screen and (max-width: 146.25rem) {
  .banner-section {
    background-size: 100% 40%, contain, 100% 40%;
  }
}

@media only screen and (max-width: $deskBig) {
  .quote {
    font-size: clamp(1.5rem, 4vw, $fsQuote);
  }
  .quote__text {
    max-width: 75.75rem;
    width: 80%;
  }

  .destination {
    height: fit-content;
    & > * {
      margin-top: 1.5rem;
    }
  }
}

//1650px
@media only screen and (max-width: 103.125rem) {
  .banner-section {
    background-size: 100% 51%, contain, 100% 40%;
  }
}

@media only screen and (max-width: $deskSmall) {
  .quote {
    min-height: fit-content;
  }
}

@media only screen and (max-width: $tabletMedium) {
  .banner-section {
    background-size: 100% 62%, contain, 100% 40%;
  }

  .quote__author {
    font-size: 0.7em; //povećano s 0.45em
  }
  .destination {
    width: 80%;
    align-items: flex-start;
  }

  .destination__link {
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .banner {
    width: 100%;
    padding: 0 2rem;
  }
}

@media only screen and (max-width: $mobileMedium) {
  .banner-section {
    background-size: 100% 79%, contain, 140% 20%;
    background-position: top, bottom, bottom;
  }

  .quote {
    margin-bottom: 5.1%; //fixed margin no longer needed since compass is added
  }
  .destination {
    width: 100%;
    padding: 0 2rem;
  }

  .hr {
    width: 75%;
  }
  .destination__link {
    margin-top: 3rem;
  }

  .banner {
    height: 75vw;
    object-fit: cover;
    padding: 0;
  }

  .compass-img {
    margin: 1.2rem 0;
    width: 50%;
    height: 50%;
    max-width: 6.5rem;
    max-height: 6.5rem;
    position: static;
  }
}
@media only screen and (max-width: $mobileSmall) {
  .banner-section {
    background-size: 0%, contain, contain;
  }
}
