.footer {
  padding-top: 2.25rem;
  background-color: #eee5d6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("../assets/logos/pine-logo3.png");
  background-repeat: no-repeat;
  background-size: 5.25rem 6.875rem;
  background-position: 50% 39%;
  background-blend-mode:  soft-light; //soft light je ok kad je sam pine logo
  position: relative;

  &::before {
    content: "";
    height: 0.875rem;
    width: 100%;
    position: absolute;
    background-color: rgba(250, 248, 242, 0.53);
    top: 0;
    transform: translateY(-100%);
  }
}
