.footer {
  padding-top: 2.25rem;
  background-color: $footerBgClr;
  @include flexColumnCenter();
  justify-content: space-between;
  background-image: url("../assets/logos/pine-logo3.png");
  background-repeat: no-repeat;
  background-size: 5.25rem 6.875rem;
  background-position: 50% 39%;
  position: relative;

  &::before {
    content: "";
    height: 0.875rem;
    width: 100%;
    position: absolute;
    background-color: rgba(250, 248, 242, 0.53);
    top: 0;
    transform: translateY(-100%);
  }
}

//************ MEDIA QUERIES ***********************//

@media only screen and (max-width: $mobileMedium) {
  .footer {
    background-position: 50% 50%;
  }
}
