.header {
  height: 12.75rem;
  background: linear-gradient(#002233, #01385400);
  padding: 2.125rem 2.5625rem 0rem 2rem;
  margin-bottom: 3.9375rem;
  display: flex;
  justify-content: space-between;
}
