.news-section {
    width: 81.25rem; //1300px; 
    height: 81rem; //1296px;
    margin: 0 auto; 
    display: flex; 
    flex-direction: column;
    justify-content: space-between;

}

.news-section__featured {
    height: 30.75rem; 
    display: flex; 
}
.news-section__food {
    height: 15rem; 
    display: flex; 
    justify-content: space-between;
}
.news-section__stay {
    height: 30.75rem;
    display: flex;  
    justify-content: space-between;
} 


