.news-section {
  width: 81.25rem;
  min-height: 81rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 4.5rem;
}

.news-section__featured {
  height: 30.75rem;
  display: flex;
  margin-bottom: 2.25rem;
}
.news-section__food {
  height: 15rem;
  @include flexSpaceB();
  margin-bottom: 2.25rem;
}
.news-section__stay {
  height: 30.75rem;
  @include flexSpaceB();
}

//**************************************  MEDIA QUERIES **************************************//

@media only screen and (max-width: $deskMedium) {
  .news-section {
    width: 100%;
    min-height: 86rem;
    padding: 0 2rem 4.5rem 2rem;
  }
}

//1260px
@media only screen and (max-width: 78.75rem) {
  .news-section {
    height: fit-content;

    & > div {
      height: min-content;
    }
  }

  .news-section__food,
  .news-section__stay {
    flex-direction: column;
  }
}

//News section now recieves color used previoulsy on background image gradient in  .bg-top
//Also gets the lines background image
@media only screen and (max-width: 68.75rem) {
  .news-section {
    background-color: #002233;
    background-image: url("../assets/bg-graphics/bg-lines-opaque.png");
  }
}

//560px
@media only screen and (max-width: $mobileMedium) {
  .news-section {
    padding: 0 1rem 4.5rem 1rem;
  }
}

//375px
@media only screen and (max-width: $mobileSmall) {
  .news-section {
    padding: 0 0 4.5rem 0;
  }
}
