.video-section {
  padding-top: 5.625%; //6.75rem; allows fluid scaling of distance between video and hero sections, as well as easy positioning of background in bg-middle
  @include flexColumnCenter(); 
  background-image: linear-gradient(
      180deg,
      rgba(249, 244, 233, 0.87),
      rgba(255, 255, 255, 0.9)
    ),
    url("../assets/bg-graphics/bg-seafood.png");
  background-repeat: no-repeat;
  background-position: -17.5rem 85%;
  background-size: 155% 42%;
}

@media only screen and (max-width: $tabletMedium) {
  .video-section {
    background-position: 0% 0%;
    background-size: contain, 100%;
    
  }
}
