.video-section {
  padding-top: 5.625%; //6.75rem; allows fluid scaling of distance between video and hero sections, as well as easy positioning of background in bg-middle
  @include flexColumnCenter();
  background-image: url("../assets/bg-graphics/bg-seafood.png");
  background-repeat: no-repeat;
  background-position: -18.4rem 85%;
  background-size: 157% 42%;
  background-blend-mode: multiply;
  background-color: $bgMiddleTrans; 
}

//**************** MEDIA QUERIES **********************//

@media only screen and (min-width: 120.0625rem) {
  .video-section {
    background-size: 157% 60%;
  }
}

@media only screen and (max-width: $tabletMedium) {
  .video-section {
    background-image: 
      url("../assets/bg-graphics/bg-seafood.png");
    background-position: 0% 0%;
    background-size:  100%;
  }
}
