//This li element holds text, arrow, and .dropdown menu
.dropdown-container {
  margin-right: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &:hover > ul {
    max-height: 100vh; //setting this value to an amount it will never reach ensures smooth transition of elements below the element which gets expanded
  }
}

//Initially this element is not visible
.dropdown-menu {
  width: 10.9375rem;
  max-height: 0;
  overflow: hidden;
  margin-top: 0.625rem;
  background-color: $heroColor;
  border-radius: 3px;
  transition: all 500ms ease;
  user-select: none;

  & li:nth-of-type(2) {
    border: 1px solid rgba(113, 113, 113, 0.12);
    border-left: none;
    border-right: none;
  }
}

.dropdown__link {
  display: block;
  font-weight: $txtRegular;
  font-size: $fsNavLinks;
  line-height: 1.375rem; //22px
  color: $darkTxt;
  padding: 0.625rem 0.9375rem;
  transition: all 150ms;
  &:hover {
    background-color: $darkBgClr;
    color: $heroColor;
  }
}

//***************  MEDIA QUERIES ****************** //

@media only screen and (max-width: $tabletMedium) {
  .dropdown-container {
    margin: 0;
    width: 100%;
  }

  .dropdown-menu {
    width: 100%;
    border-radius: 0 0 5vw 5vw;
  }

  .dropdown__link {
    text-align: center;
    color: $darkestBgClr;

    &:hover {
      background-color: $darkestBgClr;
    }
  }
}
