
.info-widget__header {
  display: flex;
  align-items: center;
  
  margin-bottom: 3.125rem;
}

.info-widget__line {
  @include horizontalLine(260px, 1px);
  margin-top: 1rem;
}

.info-widget__title {
  @include mediumHeadingStyle();
  margin-left: 3.125rem;
}

.info-widget__text {
  @include normalTextStyle();
  width: 650px;
  height: 252px;
  margin-left: 458px;
}
