.info-widget {
  background-color: lightgreen;
}

.info-widget__header {
    display: flex;
    align-items: center; 
    background-color: gold; 
    margin-bottom: 3.125rem;
}

.info-widget__line {
    @include horizontalLine(220px, 1px); 
  
}

.info-widget__title {
  @include mediumHeadingStyle();
  margin-left: 3.125rem; 
}

.info-widget__text {
  @include normalTextStyle();
  width: 650px;
  height: 252px;
  margin-left: 458px;
}
