.logo {
  width: 9.4375rem;
  height: 3.625rem;
  filter: invert(100%); //inverts black to white
}

.logo--small {
  width: 5.6875rem;
  height: 2.25rem;
  filter: contrast(60%);
}

//************ MEDIA QUERIES ***********************//

@media only screen and (max-width: $tabletMedium) {
  .logo {
    width: clamp(calc(5rem + 0.5vw), 2vw, 6rem);
    height: auto;
  }
}
