//navbar component

.main-nav__list {
  display: flex;
  justify-content: space-between;
}

.navlink {
  position: relative;
  color: $linkColor;
  font-size: $fsNavLinks;
  line-height: $lhHeaderLinks;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  outline: none;
  transition: all 150ms;
  &:hover,
  &:focus {
    color: $heroPaleColor;
  }
}

.navlink--lang {
  width: 2.625rem;
  height: 2.625rem;
  margin-top: -0.625rem;
  margin-left: 6rem;
  margin-right: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  transition: background-color 150ms ease-in, box-shadow 150ms ease-in;

  &:hover {
    background-color: $heroColor;
    color: $darkestBgClr;
  }

  &:active {
    background-color: $darkestBgClr;
    color: $heroColor;
  }

  &:focus {
    box-shadow: 0 0 3px 4px $videoBtnShadow;
  }
}

//Holds Zanimljivosti text and arrow
.navlink-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//This class styles the arrow next to "Zanimljivosti"
.arrow {
  width: 1.25rem;
  height: 0.625rem;
  margin-left: 0.2rem;
  transform-origin: center;
  transition: all 450ms ease;
}

//This class is placed on the ancestor LI which also has dropdown-container class, so I can style arrow and dropdown-menu on hover, in different ways.
.arrow-control {
  &:hover .arrow,
  &:focus .arrow {
    transform: rotateZ(180deg);
  }
}

//***************  MEDIA QUERIES ****************** //

@media only screen and (max-width: $tabletMedium) {
  .main-nav {
    display: none;
  }

  .main-nav {
    background-image: url("../assets/bg-graphics/bg-seafood.png"),
      linear-gradient(0deg, rgb(231, 240, 239) 30%, rgb(0, 34, 51));
    background-repeat: no-repeat;
    background-position: 10% 100%, 100%;
    background-size: 110%, 100%;
    background-color: rgb(115, 148, 167);
    background-blend-mode: multiply, soft-light;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 8rem;
    left: 0;
    border-radius: 70vw 70vw 0 0;
    min-height: calc(100vh - 8rem);
    max-height: calc(100vh - 8rem);
    width: 100%;
    max-width: 100%;
    z-index: 10;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  //Controls body when mobile menu gets opened and closed
  .body-fixed {
    overflow-y: scroll;
    position: fixed;
  }

  .main-nav--opened {
    display: flex;
    animation: mobileMenuOpen 500ms ease-in-out forwards;
  }

  .main-nav--closed {
    animation: mobileMenuClose 500ms ease-in-out forwards;
  }
  .main-nav__list {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    margin: 1.5rem 0;

    & > li {
      margin-top: 1.5rem;
    }
  }
  .navlink-control:first-child {
    margin-left: 1rem;
  }

  .navlink--lang {
    margin: 0;
  }
}

//************ ANIMATIONS ***************** //

@keyframes mobileMenuOpen {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    border-radius: 5vw 5vw 0 0;
    opacity: 1;
  }
}
@keyframes mobileMenuClose {
  0% {
    border-radius: 5vw 5vw 0 0;
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
    border-radius: 70vw 70vw 0 0;
  }
}
