.main-nav__list {
  display: flex;
  justify-content: space-between;
}

.navlink {
  color: $linkColor;
  font-size: $fsNavLinks;
  line-height: $lhHeaderLinks;
  cursor: pointer;
  outline: none;
}

.navlink--lang {
  width: 2.625rem;
  height: 2.625rem;
  margin-top: -0.625rem;
  margin-left: 6rem;
  margin-right: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  transition: background-color 150ms ease-in, box-shadow 150ms ease-in;

  &:hover {
    background-color: $heroColor;
    color: $darkestBgClr;
  }

  &:active,
  &:focus {
    background-color: $darkestBgClr;
    color: $heroColor;
    box-shadow: 0 0 3px 4px $videoBtnShadow;
  }
}

//Holds Zanimljivosti text and arrow
.navlink-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//This class styles the arrow next to "Zanimljivosti"
.arrow {
  width: 1.25rem;
  height: 0.625rem;
  margin-left: 0.2rem;
  transform-origin: center;
  transition: all 450ms ease;
}

//This class is placed on the ancestor LI which also has dropdown-container class, so I can style arrow and dropdown-menu on hover, in different ways.
.arrow-control {
  &:hover .arrow,
  &:focus .arrow {
    transform: rotateZ(180deg);
  }
}

//***************  MEDIA QUERIES ****************** //

@media only screen and (max-width: $tabletMedium) {
  .main-nav {
    display: none;
  }

  .main-nav {
    background-image: linear-gradient(
        180deg,
        rgb(0, 34, 51),
        rgb(255, 255, 255)
      ),
      url("../assets/bg-graphics/bg-seafood.png");
    background-repeat: no-repeat;
    background-position: 100%, 10% 100%;
    background-size: 100%, 110%;
    background-blend-mode: darken;
    position: absolute;
    top: 8rem;
    left: 0;
    border-radius: 5vw 5vw 0 0;
    //The size of nav should be 100vh - 8rem;
    height: calc(100vh - 8rem);
    width: 100%;
    max-width: 100%;
  }

  .main-nav--opened {
    display: flex;
  }

  .main-nav__list {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    margin: 1.5rem 0;

    & > li {
      margin-top: 1.5rem;
    }
  }
  .navlink-control:first-child {
    margin-left: 1rem;
  }

  .navlink--lang {
    margin: 0;
  }
}
