//News component refering to individual news posts in news-section

.news {
  height: 100%;
  margin-bottom: 2.25rem; //it's the same in desktop or mobile
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//Refers only to single featured news post
.news--featured {
  flex-direction: row;
  img {
    width: 62.8%;
  }
}

//Refers to the second two articles
.news--food {
  width: 48.6%;
  flex-direction: row;

  img {
    height: 100%;
    width: 50%;
  }

  div {
    width: 50%;
  }
}

//Refers to last three news articles
.news--stay {
  width: 31.7%;

  img {
    height: 58.5%;
    width: 100%;
  }

  div {
    height: 41.5%;
  }
}

//Individual tags in news component

.news__content {
  background-color: $bgWhite;
  padding: 2rem 2.25rem;
}

.news__header {
  width: 13.375rem;
  display: flex;
  justify-content: space-between;
  position: relative;

  span,
  time {
    color: $newsHeaderColor;
    font-weight: $txtSemiBold;
    line-height: $lhTinyTxt;
    font-size: $fsTinyTxt;
  }

  &::after {
    content: "";
    width: 1px;
    height: 18px;
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translateY(-50%); //centering in combination with top
    background-color: $newsHeaderColor; //Po dizajnu je  #717171 (greyHeading), ali ovako više liči na sliku.
  }
}

.news__header--stay {
  width: 14rem; //mrvicu dulji nego obična verzija
  &::after {
    left: 43%;
  }
}

.news__title {
  color: $greyHeading;
  line-height: $lhNewsHeadings;
  font-weight: $headBold;
  font-size: $fsSmallHeadings;
  margin-top: 0.8125rem;
}

.news__title--featured {
  @include mediumHeadingStyle();
  margin: 1.125rem 0 1.5rem 0;
}

.news__text {
  @include normalTextStyle();
}

//**************************************  MEDIA QUERIES **************************************//

@media only screen and (max-width: $deskMedium) {
  .news--featured,
  .news--food,
  .news--stay {
    img {
      object-fit: cover;
    }
  }

  .news__header {
    width: fit-content;
    justify-content: space-evenly;

    time {
      padding-right: 2rem;
    }
  }
}

@media only screen and (max-width: 78.75rem) {
  .news--featured {
    height: 25.5rem;

    &:last-child {
      margin: 0;
    }

    img {
      width: 50%;
    }
  }

  .news--food,
  .news--stay {
    width: 100%;
    flex-direction: row;

    img {
      height: 17rem;
    }

    div {
      height: 17rem;
    }
    &:last-child {
      margin: 0;
    }
  }

  .news--stay {
    img {
      width: 50%;
    }

    div {
      width: 50%;
    }
  }
}

//1030px
@media only screen and (max-width: 64.375rem) {
  .news--featured,
  .news--food,
  .news--stay {
    flex-direction: column;
    height: fit-content;

    img {
      width: 100%;
      height: 70%;
    }

    div {
      width: 100%;
      height: min-content;
    }
  }
}

//560px - Redefining small headings font size  - does not affect category headings because its redefined below them.
//Featured title is also getting small heading styling now.
@media only screen and (max-width: $mobileMedium) {
  $fsSmallHeadings: 1.2rem;

  .news__title--featured {
    font-size: $fsSmallHeadings;
    line-height: $lhNewsHeadings;
  }

  .news__title {
    font-size: $fsSmallHeadings;
  }
}
//375px
@media only screen and (max-width: $mobileSmall) {
  .news__content {
    padding: 2rem 1.5rem;
  }
}
