//12.125rem
.social {
    width: 12.125rem; 
    display: flex; 
    justify-content: space-between;
}

.social__icon {
    width: 2.625rem; 
    height: 2.625rem; 
    color: #3734344a;
    color: #ffffff00;
}