// design width 1574px(98.375rem, height 945px (59rem)

//Holds video-player and serves as a frame of sorts so that aspect-ratio can be kept on a smaller custom frame on a page, or entire screen
.video-container {
  margin-top: 3.75rem;
  margin-bottom: 4.1875rem;
  width: 82%; // 1574px od 1920px
  height: 87%; //945px od 1080px
}

.video-player {
  position: relative;
  display: inline-block;

  background-color: rgba(55, 52, 52, 0.75);
  background-image: url("../assets/video/video-bg.png");
  background-repeat: no-repeat;
  background-size: 150% 101%;
  background-position: -23.75rem -0.25rem;
  border-radius: 3px;
  background-blend-mode: multiply;

  //Responsive and keeps aspect-ratio
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video-player iframe {
  position: absolute;
}

.play-btn {
  width: 9.125rem;
  height: 9.1875rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid transparent;
  border-radius: 50%;
  background-image: url("../assets/video/play-button.png"),
    url("../assets/video/oval.png");
  background-repeat: no-repeat;
  background-position: 50% 50%, center;
  background-size: 2.25rem, contain;
  cursor: pointer;
  outline: none;
  transition: border-color 250ms, box-shadow 150ms;

  &:hover,
  &:focus {
    border: 2px solid $videoBtnColor;
  }

  &:active {
    box-shadow: 0 0 5px 8px $videoBtnShadow;
  }
}

//********** MEDIA QUERIES **************//

@media only screen and (max-width: $tabletMedium) {
  .video-container {
    width: 100%;
  }

  .play-btn {
    width: 5rem;
    height: 5rem;
    background-size: 24%, contain;
  }
}
