//*****************   Border Colors    *****************************//
$hrBorderStyle: solid #37343480; //Use on horizontal lines

//******************  Background Colors  ****************************//

$bgWhite: #faf8f2; //news articles
$darkBgClr: rgba(0, 34, 51, 0.6); //Used on slider arrows and dropdown menu items
$darkestBgClr: rgba(0, 34, 51, 0.9); //Used as hover on slider arrows

//*******************  Button Colors *******************************//

$videoBtnColor: rgba(255, 255, 255, 0.7);
$videoBtnShadow: rgba(255,255,255, 0.2);
$bulletBtnClr: rgba(113, 113, 113, 0.25);
$bulletBtnClrActive: #373434;