

.bg-top-lines {
  background-image: url("../assets/bg-graphics/bg-lines-opaque.png"); 
  background-repeat: no-repeat;
  background-size: 120% 85%;
  background-position: 50% 160%;
  ;
}

//This wraps around header tag and hero-section tag
.bg-top {
background-image: 
    linear-gradient(180deg, rgba(1, 56, 84, 0) 50%, #013854 73.78%, #002233 100%),
    url("../assets/header/header-overlay.png"),
    url("../assets/backgrounds/bg-top.png");
  background-repeat: no-repeat;
  background-position: bottom, top, 0% -8.875rem;
  background-size:100% 100%, 100% 100%, cover;
}

//linear-gradient(180deg, rgba(1, 56, 84, 0) 0%, #013854 16.78%, #002233 100%);
.bg-middle {
  background-image: linear-gradient(180deg, #f9f4e9, #f9f4e9);
  background-repeat: no-repeat;
  background-size: 68.28% 87.5%;
  background-position: left top;
}

//***************  MEDIA QUERIES ****************** //



@media only screen and (max-width: $tabletMedium) {
  .bg-middle {
    background-image: none;
  }
}






/*

 background-image: url("../assets/bg-graphics/bg-lines-opaque.png"),
    linear-gradient(180deg, rgba(1, 56, 84, 0) 0%, #013854 16.78%, #002233 100%),
    url("../assets/header/header-overlay.png"),
    url("../assets/backgrounds/bg-top.png");




*/
