//This wraps around header, hero-section and news-section
.bg-top {
  background-image: url("../assets/bg-graphics/bg-lines-opaque.png"),
    linear-gradient(180deg, rgba(1, 56, 84, 0) 0%, #013854 16.78%, #002233 100%),
    url("../assets/header/header-overlay.png"),
    url("../assets/backgrounds/bg-top.png");
  background-repeat: no-repeat;
  background-position: 50% 19.375rem, bottom, top, 0% -8.875rem;
  background-size: 120% 100%, 100% 80%, 100% 100%, contain;
}

//this background image stretches from the About Mljet part all the way down to the slider
.bg-middle {
  background-image: linear-gradient(180deg, $bgMiddle, $bgMiddle);
  background-repeat: no-repeat;
  background-size: 68.28% 87.5%;
  background-position: left top;
}

//***************  MEDIA QUERIES ****************** //

//Above 1920px
@media only screen and (min-width: 120.0625rem) {
  .bg-top {
    background-size: 120% 100%, 100% calc(100% - 35vw), 100% 100%, contain;
  }
}
//Above 2560px
@media only screen and (min-width: 160rem) {
  .bg-top {
    background-position: 50% 19.375rem, bottom, top, 0% calc(-15rem + (-5vw));
  }
}

@media only screen and (max-width: 97.5rem) {
  .bg-top {
    background-size: 120% 100%, 100% 80%, 100% 100%, 120%;
  }
}

@media only screen and (max-width: 80.3125rem) {
  .bg-top {
    background-size: 120% 100%, 100% 85%, 100% 100%, 150%;
  }
}

//1030px
@media only screen and (max-width: 64.375rem) {
  .bg-top {
    //U ovom trenu maknuti lines i gradient s ovog elementa, gradient cijeli staviti na .categories te u sami .news-section (tamniju boju), fotografiji promijeniti size
    background-image: url("../assets/header/header-overlay.png"),
      url("../assets/backgrounds/bg-top.png");
    background-position: top, left top;
    background-size: 100% 100%, auto 25%;
  }
}

@media only screen and (max-width: $tabletMedium) {
  .bg-middle {
    background-image: none;
  }
}

@media only screen and (max-width: $mobileMedium) {
  .bg-top {
    background-size: 100% 100%, auto 30%;
  }
}
