html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  max-width: 244rem;
  margin: 0 auto;
  min-height: 100vh; //fills viewport even when empty
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ffHeading;
}

a,
p,
span,
figcaption,
li {
  font-family: $ffText;
}
