//Media query breakpoints - used most often

//Desktop big 1900
$deskBig: 118.75rem;

//desktop medium 1365px
$deskMedium: 85.3125rem;

//dekstop small 1200px
$deskSmall: 75rem;

//tablet medium 870px
$tabletMedium: 54.375rem;

//tablet  790px;
$tablet: 49.375rem;

//Mobile medium 560px
$mobileMedium: 35rem;

//Mobile Small 375px
$mobileSmall: 23.4375rem;
