/************************ Font families *************************/

$ffText: "Nunito Sans", sans-serif;
$ffHeading: "Playfair Display", serif;

/************************ Font weights **************************/

$txtLight: 300;
$txtRegular: 400;
$txtSemiBold: 600;
$headBold: 700;

//******************** Font colors  ******************************/

$darkTxt: #363434; //Refers to most text, no titles
$heroColor: #faf8f2; //Refers only to hero title 
$heroPaleColor: #faf8f2be; //Refers to hero text below title
$linkColor: #ffffff;
$greyHeading: #717171; //Refers to every heading except h1 hero and "How to reach Mljet" above the footer
$reachHeading: #363434bf; //How to reach Mljet heading
$tinyTxtColor: #717171; //Footer legal text
$quoteTxtColor: #36343440;



/********************* Line heights ******************************/

$lhHero: 6rem; //96px;
$lhHeaderLinks: 1.375rem; // 22px originalno - only navbar links and dropdown menu links
$lhTxt: 1.875rem; //Originalno je 23px(?), stavljeno na 30px jer ne odgovara razmaku sa slike, refers to all text, including hero sub text
$lhTinyTxt: 24px; //Originalno je 17px(?) Refers to dates and location in news posts, and footer text
$lhSmallHeadings: 1.875rem; //30px, za headinge u categories i u news (osim featured headinga)
$lhMediumHeadings: 3.375rem; //54px, Featured News Heading, About Mljet, Beautifes of Mljet, How to Reach Mljet
$lhQuote: 4.5rem; //72px, za citat


/******************** Font sizes ********************************/

$fsHero: 5rem;
$fsNavLinks: 1.125rem; //18px, only refers to font in the main navbar
$fsNormalTxt: 1.1875rem; //19px, only refers to paragraphs of text
$fsTinyTxt: 0.875rem; //14px, only dates and location in news posts, and footer text
$fsSmallHeadings: 1.5625rem; //25px;
$fsMediumHeadings: 2.8125rem; // 45px, Featured News Heading, About Mljet, Beautifes of Mljet, How to Reach Mljet
$fsQuote: 3.75rem; //60px, samo za citat
