/************************ Font families *************************/

$ffText: "Nunito Sans", sans-serif;
$ffHeading: "Playfair Display", serif;

/************************ Font weights **************************/

$txtLight: 300;
$txtRegular: 400;
$txtSemiBold: 600;
$txtBold: 700; //figcaptions
$headBold: 700;

//******************** Font colors  ******************************/

$darkTxt: #363434; //Refers to most text, no titles
$heroColor: #faf8f2; //Refers to hero title and dropdown background
$heroPaleColor: #faf8f2be; //Refers to text below hero title
$linkColor: #ffffff;
$greyHeading: #717171; //Refers to every heading except h1 hero and "How to reach Mljet" above the footer
$reachHeading: #363434bf; //How to reach Mljet heading and figcaption text
$tinyTxtColor: #717171; //Footer legal text
$quoteTxtColor: #36343440;
$newsHeaderColor: #36343480; //In news header, 50% opacity

/********************* Line heights ******************************/

$lhHero: 6rem; //96px;
$lhHeaderLinks: 1.375rem; // 22px originalno - only navbar links and dropdown menu links
$lhTxt: 1.875rem; //Originalno je 23px(?), stavljeno na 30px jer ne odgovara razmaku sa slike, refers to all text, including hero sub text
$lhTinyTxt: 1.5rem; //Originalno je 17px(?), stavljeno na 24px - Refers to dates and location in news posts, and footer text, also in figcaptions
$lhSmallHeadings: 1.875rem; //30px, za headinge u categories
$lhNewsHeadings: 1.44em; // 2.25rem; //Po dizajnu je 30px, ali ne odgovara vizualno, povećano na 36px.  Ne primjenjuje se na featured heading osim u mobile view
$lhMediumHeadings: 3.375rem; //54px, Featured News Heading, About Mljet, Beautifes of Mljet, How to Reach Mljet
$lhQuote: 1.2em;


/******************** Font sizes ********************************/

$fsHero: 5rem;
$fsNavLinks: 1.125rem; //18px, only refers to font in the main navbar
$fsNormalTxt: 1.1875rem; //19px, only refers to paragraphs of text
$fsTinyTxt: 0.875rem; //14px, only dates and location in news posts, and footer text
$fsSmallHeadings: 1.5625rem; //25px, used on news headings and category headings
$fsMediumHeadings: clamp(2.1rem, 3vw, 2.8125rem); // 45px, Featured News Heading, About Mljet, Beautifes of Mljet, How to Reach Mljet
$fsQuote: 3.75rem; //60px, samo za citat, line-height je 1.2em (72px)



